[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
selenium = "*"
pre-commit = "*"
pymongo = "*"
psycopg2 = "*"
python-dotenv = "*"
sqlalchemy = {extras = ["mypy"], version = "*"}

[dev-packages]
black = "*"
mypy = "*"
flake8 = "*"

[requires]
python_version = "3.10"
